<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Tasdiqlash kodi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4>Kodni tasdiqlang</h4>
                </div>
                <div class="card-body">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="kod" class="form-label">Tasdiqlash kodi</label>
                            <input type="text" class="form-control" id="kod" name="kod" required maxlength="6">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Tasdiqlash</button>
                    </form>
                </div>
                <a href="{% url 'profil:verify' %}" class="btn btn-primary w-100">Yangi kod olish</a>
                <br>
                <a href="{% url 'profil:login' %}" class="btn btn-primary w-100">Boshqa hisob orqali kirish</a>

            </div>

        </div>
    </div>
</div>

</body>
</html>
